/*Use FontFace to import Apple's San Francisco Font*/
@font-face {
  /*display medium*/
  font-family: 'sf_pro_displaymedium';
  src: url('../fonts/sf-pro-display-medium-webfont.woff2') format('woff2'),
    url('../fonts/sf-pro-display-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  /*display semibold*/
  font-family: 'sf_pro_displaysemibold';
  src: url('../fonts/sf-pro-display-semibold-webfont.woff2') format('woff2'),
    url('../fonts/sf-pro-display-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  /*text regular*/
  font-family: 'sf_pro_textregular';
  src: url('../fonts/sf-pro-text-regular-webfont.woff2') format('woff2'),
    url('../fonts/sf-pro-text-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {

  /*text semibold*/
  font-family: 'sf_pro_textsemibold';
  src: url('../fonts/sf-pro-text-semibold-webfont.woff2') format('woff2'),
    url('../fonts/sf-pro-text-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/*base styling*/

body {
  display: grid;
  grid-template-columns: 1fr 1.6fr;
  grid-gap: 1rem;
}

/*universal styling*/
.section_title {
  margin-bottom: 2rem;
  font-family: 'sf_pro_displaymedium';
  /* color: #202224; */
  color: #393e46;
}

#profile_pic {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  width: 8rem;
  float: right;
}

/*ABOUT ME SECTION OF THE PAGE*/
#about_me {
  grid-column: 1/2;
  grid-row: 1/2;
  padding: 2rem;

  background: #c9c9c9;
}

#self_intro {
  background-color: #eeeeee;
  padding: 1rem;
  margin: 1rem auto;
  border-radius: 1rem;
}

#intro_first_line {
  font-family: 'sf_pro_textsemibold';
}

#self_intro p,
li {
  font-family: 'sf_pro_textregular';
  line-height: 1.5rem;
}


#cert_gallery {
  overflow: hidden;
  border-radius: 1rem;
}

/*cert gallery section*/

#cert_gallery figure {
  position: relative;
  margin: 0;
  left: 0;
  width: 500%;
  animation: 15s cert_gallery infinite;
}

#cert_gallery figure img {
  width: 20%;
  float: left;
}

@-webkit-keyframes cert_gallery {
  0% {
    left: 0;
  }

  20% {
    left: 0;
  }

  33% {
    left: -100%;
  }

  45% {
    left: -100%;
  }

  66% {
    left: -200%;
  }

  75% {
    left: -200%;
  }

  100% {
    left: -300%;
  }
}

@-o-keyframes cert_gallery {
  0% {
    left: 0;
  }

  20% {
    left: 0;
  }

  33% {
    left: -100%;
  }

  45% {
    left: -100%;
  }

  66% {
    left: -200%;
  }

  75% {
    left: -200%;
  }

  100% {
    left: -300%;
  }
}

@-moz-keyframes cert_gallery {
  0% {
    left: 0;
  }

  20% {
    left: 0;
  }

  33% {
    left: -100%;
  }

  45% {
    left: -100%;
  }

  66% {
    left: -200%;
  }

  75% {
    left: -200%;
  }

  100% {
    left: -300%;
  }
}

@keyframes cert_gallery {
  0% {
    left: 0;
  }

  20% {
    left: 0;
  }

  33% {
    left: -100%;
  }

  45% {
    left: -100%;
  }

  66% {
    left: -200%;
  }

  75% {
    left: -200%;
  }

  100% {
    left: -300%;
  }
}

/*PROJECT GALLERY SECTION OF THE PAGE*/
#project_gallery {
  grid-column: 2/-1;
  grid-row: 1/3;
  padding: 2rem;
}


#grid_wrapper {
  display: grid;
  max-width: 1000px;
  width: 100%;

  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: repeat(4, 480px);
  grid-auto-rows: minmax(480px, auto);
  grid-gap: 1.5rem;
}

#bootstrap_documentation {
  grid-column: 1/-1;
  background-image: url("https://res.cloudinary.com/zzrot/image/upload/v1538350962/Personal%20Portfolio%20Collection/Personal%20Portfolio%20Site%20Images/bootstrap_4.png");
}

#macbookpro_configuration {
  grid-column: 1/3;
  grid-row: span 2;
  background-image: url("https://res.cloudinary.com/zzrot/image/upload/v1538552866/Personal%20Portfolio%20Collection/Personal%20Portfolio%20Site%20Images/medium%20article.png");
}

#tribute_page {
  background-image: url("https://res.cloudinary.com/zzrot/image/upload/v1541186510/Personal%20Portfolio%20Collection/Personal%20Portfolio%20Site%20Images/tribute_page.png")
}

#nerdfusionclone {
  background-image: url("https://res.cloudinary.com/zzrot/image/upload/v1538350962/Personal%20Portfolio%20Collection/Personal%20Portfolio%20Site%20Images/nerdfusion.png");
}

#tweet_collection {
  grid-column: 1/3;
  background-image: url("https://res.cloudinary.com/zzrot/image/upload/v1541187125/Personal%20Portfolio%20Collection/Personal%20Portfolio%20Site%20Images/tweets_collection.png")
}

.card {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  box-shadow: 3px 3px 5px 6px #d7d7d7;
  border-radius: 1rem;
}

.description {
  position: absolute;
  color: white;
  background: #23b6c7;
  transition: 1s;
  bottom: 0px;
  left: -355px;
  font-family: 'sf_pro_textsemibold';
}

h2,
p {
  margin: .5rem .5rem;
}


.card:hover .description {
  transition: 1s;
  left: 0px;
}





/* project grid media queries*/
/* @media (max-width: 650px) {
  #bootstrap_documentation {
    grid-column: auto;
  }

  #macbookpro_configuration {
    grid-column: auto;
    grid-row: auto;
  }

  #tweet_collection {
    grid-column: auto;
  }
} */


/*===========================*/

footer {
  grid-column: 1/2;
  border: 2px solid purple;
}


/*Media Queries*/

/*when screen width is less than 1100px*/
@media (max-width:1100px) {
  #about_me {
    grid-column: 1/3;
    grid-row: 1/2;
  }

  #profile_pic {
    float: right;
  }

  #self_intro p,
  li {
    font-size: .9rem;
    line-height: 1.3rem;
    letter-spacing: .05rem;
  }

  #project_gallery {
    grid-column: 1/-1;
    grid-row: 2/3;
  }

  footer {
    grid-column: 1/-1;
  }


}